.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
*.env
!stacks/**/.env.example

ansible/*.retry
ansible/collections/
ansible/roles/

ssh_key
*.pem
*.key
*.pub
