apiVersion: 1

datasources:
  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://victoriametrics:8428
    isDefault: true
    basicAuth: true
    basicAuthUser: $OBSERVABILITY_VM_REMOTE_WRITE_USERNAME
    secureJsonData:
      basicAuthPassword: $OBSERVABILITY_VM_REMOTE_WRITE_PASSWORD

  - name: VictoriaLogs
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victorialogs:9428
    basicAuth: true
    basicAuthUser: $OBSERVABILITY_VM_REMOTE_WRITE_USERNAME
    secureJsonData:
      basicAuthPassword: $OBSERVABILITY_VM_REMOTE_WRITE_PASSWORD

  - name: Alertmanager
    uid: alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    jsonData:
      implementation: prometheus
