groups:
  - name: platform
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "{{ '{{' }} $labels.instance {{ '}}' }} is down"

      - alert: LowDiskSpace
        expr: (node_filesystem_avail_bytes{fstype!~"tmpfs|overlay"} / node_filesystem_size_bytes{fstype!~"tmpfs|overlay"}) < 0.1
        for: 10m
        labels:
          severity: warning
        annotations:
          summary: "{{ '{{' }} $labels.instance {{ '}}' }} has less than 10% disk space"
