[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_interface_address }}
Table = off
FwMark = {{ wireguard_socket_fwmark }}

PostUp = ip route replace default dev {{ wireguard_interface_name }} table 51820
PostUp = ip rule add fwmark 0x1 lookup 51820 priority 1000 2>/dev/null || true

PostUp = iptables -t mangle -A OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -p tcp --sport 22 -j RETURN
PostUp = iptables -t mangle -A OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -d 127.0.0.0/8 -j RETURN
PostUp = iptables -t mangle -A OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -j MARK --set-mark 0x1

PostUp = ip6tables -A OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -p tcp --sport 22 -j RETURN
PostUp = ip6tables -A OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -j REJECT

PostDown = iptables -t mangle -D OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -p tcp --sport 22 -j RETURN 2>/dev/null || true
PostDown = iptables -t mangle -D OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -d 127.0.0.0/8 -j RETURN 2>/dev/null || true
PostDown = iptables -t mangle -D OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -j MARK --set-mark 0x1 2>/dev/null || true

PostDown = ip6tables -D OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -p tcp --sport 22 -j RETURN 2>/dev/null || true
PostDown = ip6tables -D OUTPUT -m owner --uid-owner {{ wireguard_routed_uid }} -j REJECT 2>/dev/null || true

PostDown = ip rule del fwmark 0x1 lookup 51820 priority 1000 2>/dev/null || true
PostDown = ip route flush table 51820

[Peer]
PublicKey = {{ wireguard_peer_public_key }}
PresharedKey = {{ wireguard_preshared_key }}
AllowedIPs = {{ wireguard_peer_allowed_ips }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
Endpoint = {{ wireguard_peer_endpoint }}
